@import './variables.scss';

.product-wrapper {
    display: flex;
    flex-direction: column;

    main {
        margin-top: 30px;

        display: flex;
        justify-content: center;

        .slider-wrapper {
            flex-grow: 1;
            margin-left: 50px;
            width: 600px;
            height: 400px;
            position: relative;
        }

        .product-info {
            max-width: 400px;
            margin-left: 60px;

            h1 {
                margin-top: 0;
            }
        }
    }

    .description {
        margin: 30px 50px 0;
    }
}

.back-button {

    margin-top: 30px;
    margin-left: 50px;
    padding: 0 5px;
    display: flex;
    align-items: center;
    width: max-content;
    cursor: pointer;

    border-bottom: 2px solid $brown;

    &:hover {
        .arrow {
            transform: translateX(-10px);
        }
    }

    .arrow {
        width: 70px;
        height: 2px;
        margin-right: 5px;

        background-color: $brown;
        border-radius: 1px;

        position: relative;

        transition: transform .5s;

        &::before,
        &::after {
            display: block;
            content: "";

            width: 8px;
            height: 2px;

            background-color: $brown;
            border-radius: 1px;

            position: absolute;
            left: -2px;

            transform-origin: 0% 50%;
        }

        &::before {
            top: 0px;
            transform: rotate(45deg);
        }

        &::after {
            bottom: 0px;
            transform: rotate(-45deg);
        }
    }
}


.breadscrumbs {
    background-color: $bg-primary;

    padding: 30px 10px;

    display: flex;
    align-items: center;

    >* {
        display: flex;
        align-items: center;
    }

    >*:not(:last-child) {

        position: relative;
        margin-right: 30px;

        &::before,
        &::after {
            display: block;
            content: "";
            width: 8px;
            height: 2px;

            background-color: $brown;

            position: absolute;
            right: -18px;
        }

        &::before {
            transform-origin: 100% 50%;
            transform: rotate(45deg);
        }

        &::after {
            transform-origin: 100% 50%;
            transform: rotate(-45deg);
        }
    }
}

.swiper-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 50px;

    z-index: 9999;
    cursor: pointer;

    &::before,
    &::after {
        display: block;
        content: "";
        position: relative;
        top: 42%;

        width: 30px;
        height: 3px;
        border-radius: 2px;

        background-color: $black;
    }

    &::after {
        transform-origin: 0 50%;
        transform: translateY(-2px) rotate(45deg);
    }

    &::before {
        transform-origin: 0 50%;
        transform: translateY(2px) rotate(-45deg);
    }
}

.arrow-prev {
    left: -30px;
}

.arrow-next {
    transform: translateY(-50%) rotate(180deg);

    right: -30px;
}

.compound {
    list-style: "*";
    padding-left: 5px;
    margin: 5px 0 0;
}

.additional-info {
    display: flex;
    margin: 30px 50px 30px;

    >div:not(:last-child) {
        padding-right: 40px;
        margin-right: 40px;
        border-right: 2px solid $brown;
    }

    .pfc,
    .storage-info {
        display: flex;
        flex-direction: column;

        >div {
            margin-top: 5px;
            display: flex;
            flex-direction: column;
            width: max-content;
        }
    }

    .storage-info {
        >div {
            max-width: 400px;
        }
    }
}

@media screen and (max-width: 1200px) {
    .product-wrapper {
        main {
            .slider-wrapper {
                width: 500px;
            }
        }

    }
}

@media screen and (max-width: 940px) {
    .product-wrapper {
        main {
            .slider-wrapper {
                width: 400px;
            }
        }

    }
}

@media screen and (max-width: 910px) {
    .additional-info {
        display: flex;
        margin: 0px 50px 0px;
    }

    .back-button {
        margin-left: 0;
    }
}

@media screen and (max-width: 910px) {
    .product-wrapper {
        .description {
            margin: 30px 0px 0;
        }
    }

    .additional-info {
        .storage-info {
            >div {
                max-width: 300px;
            }
        }
    }
}

@media screen and (max-width: 830px) {
    .product-wrapper {
        align-items: center;

        main {
            margin-top: 30px;

            flex-direction: column-reverse;
            align-items: center;

            .slider-wrapper {
                flex-grow: 1;
                margin-left: 0px;
                width: 100%;
                height: 300px;
                position: relative;
            }

            .product-info {
                max-width: 100%;
                margin-left: 0px;

            }
        }

        .description {
            margin: 18px 0;
            width: 100%;
        }
    }

    .additional-info {
        flex-direction: column;
        margin: 0;
        width: 100%;

        >div {
            padding: 0 0 30px !important;
            margin: 0 0 30px !important;

            border-right: none !important;
            border-bottom: 2px solid $brown;
        }

        .storage-info {
            border-bottom: none;
            padding: 0 !important;
        }
    }

    .breadscrumbs {
        width: 100%;

        font-size: 14px;
        padding: 8px;
    }

    .back-button {
        align-self: flex-start;
    }
}


@media screen and (max-width: 500px) {
    .swiper-arrow {
        display: none;
    }
}