@import './variables.scss';

.menu {
    position: absolute;
    // height: calc(100% + 19px);
    // width: calc(100% + 40px);
    padding: 40px 20px;
    // left: -20px;

    // transform: translateX(0);
    // opacity: 1;

    z-index: 99999999;

    transition: transform .5s, opacity .3s;

    background-color: #d6c3b8;

    ul {
        list-style: none;
        margin: 0;

        padding-left: 5px;
    }

    li {
        margin: 3px 0;

        span {
            display: flex;
            align-items: center;
        }
    }
}

@media screen and (max-width: 680px) {
    .menu {
        position: absolute;
        height: calc(100% + 19px);
        width: calc(100% + 40px);
        padding: 40px 20px;
        left: -20px;
    
        transform: translateX(0);
        opacity: 1;
    
        z-index: 99999999;
    
        transition: transform .5s, opacity .3s;
    
        background-color: #d6c3b8;
    
        ul {
            list-style: none;
            margin: 0;
    
            padding-left: 5px;
        }
    
        li {
            margin: 3px 0;
        }
    }
}

// .aside-bg {
//     width: calc(100% + 40px);
//     height: 100%;
//     z-index: 99999998;

//     background-color: #d5afa763;
//     position: absolute;
//     left: 0;
//     top: 0;
// }

.menu-hidden {
    transform: translateX(-100px);
    opacity: 0;
}